.educational-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid purple;
  padding: 10px 1rem;
  padding-right: 3rem;
  border-radius: 15px;
  background-color: yellow;
  gap: 1rem;
}
.education-edit-button,
.education-delete-button {
  width: 1.6rem;
  height: 1.6rem;
  margin: 5px 10px;
}

.education-edit-button {
  background-image: url("./../assets/icons/pencil.png") !important;
}
.card-container {
  gap: 1.5rem;
}

.card-headings {
  text-align: start;
  font-weight: 900 !important;
  font-size: 1.3em;
}

.education-button-container {
  display: flex;
  gap: 2rem;
}

.education-button-container > button {
  /* padding: 5px; */
  border: 2px solid black;
}

/* .education-add-button {
  border: 2px solid gray;
  font-weight: 800;
  background-color: skyblue;
} */

/* CSS */
/* .education-add-button {
  background-color: rgb(39, 174, 97);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.education-add-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.education-add-button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
} */

/* CSS */
.education-add-button,
.download-button {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.education-add-button:focus,
.download-button:focus {
  outline: 0;
}

.education-add-button::after,
.download-button::after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.education-add-button:hover::after,
.download-button:hover::after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .education-add-button,
  .download-button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
.educational-detail > p {
  text-align: start;
}
