.other-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.other-info-container > button {
  border: 2px solid black;
  background-color: greenyellow;
  align-self: flex-end;
}
.other-info-input-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  flex: 1;
}
.other-info-input-row > label {
  text-align: start;
  font-size: 1.1em;
}

.other-info-input-row > input {
  max-width: 400px;
}

.other-info-category-component {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.card-contains-other-info {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gold;
  padding: 10px;
  border-radius: 5px;
  gap: 1rem;
}

.info-card {
  border: 1px solid skyblue;
  border-radius: 15px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: greenyellow;
}
.info-card > p {
  margin: 0;
}

.info-card > button {
  border: 1px solid black;
  padding: 5px;
  height: max-content;
  background-color: red;
}
.other-info-category-component > * {
  text-align: start;
}

.info-card-h3 {
  margin-bottom: 5px;
}
